<div id="messagesListContainer">
    <h1 id="channelName" class="text-center text-primary">{{channel != null ? channel.name : ''}}</h1>

    <app-search-message *ngIf="showSearchBar" [channel]="channel" (searchMessagesEvent)="onSearchMessages($event)"></app-search-message>
    
    <div id="messagesList" #messagesList>
        <ul>
            <div *ngFor="let message of filteredMessages">
                <li class="d-flex"
                [ngClass]="authorRegistered === message.author ? 'justify-content-end' : 'justify-content-start'">
                    <div class="col-4">
                        <app-message [url]="url" [message] = message [authorRegistered]="authorRegistered" [parentMessage]="getMessageById(message.parentMessageId)"
                            (startEditingMessageEvent)="onEditingMessage($event)" (startReplyingToMessageEvent)="onReplyingToMessage($event)">
                        </app-message>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>


