#channelName {
    padding: 10px;
    border-bottom: 5px solid #0d6efd;
}

ul {
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    /*overflow-y: scroll;
    overflow-x: auto;
    max-height: 700px;*/
}