<div class="border border-3 rounded-2 p-2 my-3">
    <img src="./../../../assets/images/person-workspace.svg" alt="user logo" width="22" height="22">
    <span class="ms-3 fs-5 fw-semibold text-primary">{{message.author}}</span>
    <div class="border border-1 my-2"></div>
    <span>{{message.body}}</span>
    <div class="border border-1 my-2"></div>
    <span *ngIf="message.date == message.lastEditTime" class="text-secondary">{{formatDate(message.date)}}
    </span>
    <span *ngIf="message.date != message.lastEditTime" class="text-secondary">Edited {{formatDate(message.date)}}
    </span>
</div>